{%extends "/shared/admin_layout.html" %}

{% block title %}Book - {{books['name']}} {% endblock %}

{% block content %}
<div class="container">
    <div style="width:100%; margin-top: 3em;margin-bottom: 2em;">
        {% if msg %}
            <div class="alert alert-success">{{msg}}</div>
        {% endif %}
        <form action="/books/search" method="GET">
          <div class="form-group">
            <div style="width: 100%">
            <div style="width: 90%; display: inline-block;">
            <input type="search" name="keyword" autofocus class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{keyword}}" placeholder="Search for books...">
            </div>
            <button type="submit" style="margin-left: 5px;" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>
    </div>

    {% if books %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card  book" style="width:100%">
                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-5">
                                <img src="/static/images/bg.jpg" style="height: 250px; width: auto; 
                                margin: 0 auto;
                                display: block;" class="card-img-top" alt="{{books[1]}}">
								<a href="edit/{{books['id']}}" class="btn ml-3 mt-3 btn-outline-primary"><i class="bi bi-pen-fill"></i> Edit</a>
								<a href="delete/{{books['id']}}" class="btn ml-3 mt-3 btn-outline-danger"><i class="bi bi-trash"></i> Delete</a>

                                <div class="platforms mt-3 ml-3">
                                    <h4 class="font-weight-light" style="margin-bottom: 0;">Avaliable On:</h4>
                                    <div style="font-size: 2.1em;">
                                        <i class="bi bi-xbox" style="color: green;"></i>
                                        <i class="bi bi-youtube ml-2" style="color: red;"></i>
                                        <i class="bi bi-windows ml-2" style="color: rgb(39, 144, 185);"></i>
                                        <i class="bi bi-github ml-2" style=""></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>{{books['name']}}</h2>
                                {% if books['availability'] < 1 %}
                                <span class="badge badge-warning" style="margin-bottom: 5px;">Assigned</span>
                                {% endif %}
                                <p class="card-text">{{books['desc']}}</p>
                                <p class="card-text font-weight-light"><b>Author:</b> {{books['author']}}</p>
            
                                <p class="card-text">
                                <span class="badge badge-{{ 'primary' if books['count'] > 0 else 'secondary' }}" style="margin-bottom: 5px;">
                                    {% if books['count'] > 0%}
                                        Books Left: {{books['count']}}
                                    {% else %}
                                        All gone
                                    {% endif %}
                                </span>
                                </p>

								{% if books_owners %}
								<hr class="mt-5 mb-4">
									<h4 class="font-weight-light">Book Owner(s)</h4>
									<div class="row">
									{% for user in books_owners %}
										<div class="owner col-md-3" style="padding-left: 0;">
											<img style="height: auto !important; display: block;" class="mr-auto ml-auto" src="/static/images/avatar.jpg">
											<p class="text-center">{{user['name']}}</p>
										</div>
									{% endfor %}
								</div>
								{% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="card bwrapper">
                <div class="card-body">
                    <div class="text-center mb-4" style="
                    margin-top: 21px !important;"><i class="text-center mt-4 bi-book" style="
                        font-size: 6em; "></i></div>
                    <p class="text-center mb-4">No Book Found!</p>
                </div>
            </div>
        {% endif %}	
</div>
{% endblock %}
