{%extends "/shared/admin_layout.html" %}

{% block title %}Admin Home{% endblock %}

{% block head %}
	{{ super() }}

    <link rel="stylesheet" href="/static/home.css" />
{% endblock %}

{% block content %}
	<div class="container d-flex h-75">
	    <div class="row justify-content-center align-self-center welcome">
	    	<h3>WELCOME</h3>
			<div style="width:100%">
			<form action="/admin/books/search" method="GET">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Search</label>
			    <input type="search" name="keyword" autofocus class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search for books...">
			    <small id="emailHelp" class="form-text text-muted">Available books will be shown to members.</small>
			  </div>
			  <button type="submit" class="btn btn-primary">Search</button>
			</form>
			</div>
	    </div>
	</div>
{% endblock %}
