{%extends "/shared/layout.html" %}

{% block title %}Books{% endblock %}

{% block head %}
	{{ super() }}

    <link rel="stylesheet" href="/static/home.css" />
{% endblock %}

{% block content %}
	<div class="container h-75">	
		<div style="width:100%; margin-top: 3em;">
			{% if msg %}
				<div class="alert alert-success">{{msg}}</div>
			{% endif %}
			<form action="/books/search" method="GET">
			  <div class="form-group">
			    <div style="width: 100%">
			    <div style="width: 90%; display: inline-block;">
			    <input type="search" name="keyword" autofocus class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{keyword}}" placeholder="Search for books...">
			    </div>
				<button type="submit" style="margin-left: 5px;" class="btn btn-primary">Search</button>
			    </div>
			  </div>
			</form>
		</div>

		<div style="width:100%; margin-top: 3em;">
			{% if books %}
				{% if search %}
				<h4>Search Found ({{count}})</h4>
				{% endif %}
				{% for book in books %}
				<div class="card book">
				  <img src="/static/images/bg.jpg" class="card-img-top" alt="{{book[1]}}">
				  <div class="card-body">
				    <h5 class="card-title"><a href="/books/{{book['id']}}">{{book['name']}}</a></h5>
				    {% if book['availability'] < 1 %}
				    	<span class="badge badge-warning" style="margin-bottom: 5px;">Assigned</span>
				    {% endif %}
				    <p class="card-text bookdesc">{{book['desc']}}</p>

				    <p class="card-text">
				    <span class="badge badge-{{ 'primary' if book['count'] > 0 else 'secondary' }}" style="margin-bottom: 5px;">
				    	{% if book['count'] > 0%}
				    	  Books Left: {{book['count']}}
				    	{% else %}
				    	  All gone
				    	{% endif %}
				    </span>
					</p>

				    {% if book['count'] > 0 %}
				    <a href="/books/add/{{book['id']}}" {{ 'disabled' if user_books!=None and str(book['id']) in user_books else '' }} class="btn btn-outline-warning {{ 'disabled' if str(book['id']) in user_books else '' }}"><i class="bi bi-journal-plus"></i> {{ 'Added' if str(book['id']) in user_books else 'Add' }}</a>
				    {% endif %}
				  </div>
				</div>
				{% endfor %}
			{% else %}
				<h4>No Books Found!</h4>
				<p>Please contact the librarian</p>
			{% endif %}
		</div>
	</div>
{% endblock %}