<html>
<!-- What the page is called in the tab bar  -->
<!-- We will add out stylsheet here later -->
<head>
	{%block head %}
	<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<!-- JavaScript Bundle with Popper -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    {% endblock %}
</head>
<!-- Put some text on the page -->
<body {{"class=home" if g and g.bg==1 else ""}}>
	<div class="container-fluid">
		<div class="navbar justify-content-end">
			<ul class="nav">
			  {% if g and g.user %}
				  <li class="nav-item">
				    <a class="nav-link active" href="/admin/">Home</a>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Manage Books</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="/admin/books"><i class="bi bi-view-list"></i> View Books</a>
					  <a class="dropdown-item" href="/admin/books/add"><i class="bi bi-journal-plus"></i> Add Book</a>
					</div>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="/admin/users/view/">Manage Users</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" href="/admin/signout">Sign out</a>
				  </li>
				  <!-- <li class="nav-item">
				    <a class="nav-link" href="/user/">Profile</a>
				  </li> -->
			  {% endif %}
			</ul>
		</div>


		{%block content %}{% endblock %}
	</div>
</body>
</html>